@{
    ViewData["Tittle"] = "Quan li danh muc san pham";
}
@section head{
    <link href="~/lib/awesome-notifications/style.min.css" rel="stylesheet" />
}
@section scripts{
    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
    <script src="~/js/admin/category.js"></script>
    <script src="~/lib/awesome-notifications/index.min.js" asp-append-version="true"></script>
}


<div class="row" x-data="category">
    <div class="col-12 mt-5">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryUpdinModal">
            Thêm mới danh mục
        </button>
    </div>
    <div class="col-12 mt-3">
        <table class="table">
            <colgroup>
                <col style="width:10%" />
                <col style="width:75%" />
                <col style="width:15%" />
            </colgroup>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên danh mục</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template x-for="i in _list">
                    <tr>
                        <td x-text="i.id"></td>
                        <td x-text="i.name"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <partial name="_Pager" model="Model" />
    </div>
</div>


@* <!-- Button trigger modal -->
<button class="btn btn-primary" data-bs-toggle="caterogyUpdinModal" data-bs-target="#caterogyUpdinModal">
    Them moi danh muc
</button> *@

<!-- Modal -->
<div class="modal fade" id="categoryUpdinModal" tabindex="-1" aria-labelledby="categoryUpdinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="categoryUpdinModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-3">
                    <label class="from-label">Tên danh mục</label>
                    <input class="from-control border-0" />
                </div>
            </div>
            <div class="modal-footer">
             @*    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button> *@
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
