<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShopMVC_Net7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("head",false)

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #e3f2fd;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="">Trang Chủ</a>
                    <a class="nav-link" asp-action="Index" asp-controller="Category">Danh Mục</a>
                    <a class="nav-link" asp-action="" asp-controller="Product">Sản Phẩm</a>
                    <a class="nav-link" asp-action="" asp-controller="User">Tài Khoản</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <partial name="_Notify" /> @* Layout de hien thi cac thong bao *@
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>